./data/*
./__pycache__/*
./.vscode/*
data/*
__pycache__/*
.vscode/*
yes.pub
yes 
utils/__pycache__/*
additional_results/mnsit/__pycache__/*
additional_results/mnsit/utils/__pycache__/*
additional_results/mnsit/data/*
!additional_results/mnsit/data/logs/
