./data/*
./__pycache__/*
./.vscode/*
data/*
__pycache__/*
.vscode/*
yes.pub
yes 
utils/__pycache__/*
*/__pycache__/*
*/data/*
additional_results/mnist/__pycache__/*
additional_results/mnist/utils/__pycache__/*
additional_results/mnist/data/*
!additional_results/mnist/data/logs/
